@font-face {
  font-family: "BYekan";
  src: url("../../assets/fonts/BYekan-Bold.woff2") format("woff2"), url("../../assets/fonts/BYekan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BYekan";
  src: url("../../assets/fonts/BYekan.woff2") format("woff2"), url("../../assets/fonts/BYekan.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Light.woff2") format("woff2"), url("../../assets/fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
